.pj-container{
	clear: both;
	max-width: 1200px;
	min-width: 960px;
    overflow: hidden;
    margin:0 auto;
    margin-top: 35px;
    position: relative;
    z-index: 2;
}
.pj-container .left{
	position:relative;
    float:left;
    width:20%;
    min-height: 800px;
    border: 1px solid #d6d6d6;
    background: #fff;  
}
.pj-container .right{
	margin-left:12px;
	border:1px solid #d6d6d6;
	position:relative;
    float:left;
    width:78%;
    min-height: 800px;
    background: #fff;  
}
.menuhome{
	height:38px;
	line-height:38px;
	font-size: 16px;
	text-align: center;
	color:#fff;
	background:#83c0ef;
	border-top-right-radius:16px;
}

.pj-container .leftnav li{
	text-align: center;
    height:34px;
	line-height:34px;
	cursor:pointer;
}
.pj-container .leftnav a{
	font-size:14px;
	color:#090909;
}
.pj-container .leftnav a.active{
	color:#1b85d5;
}
.feedback{
	margin:30px 0 0 38px
}
.feedback .slogan{
	font-size:18px;
	font-weight:bold;
	color:#090909;
	margin-bottom:6px;
}
.feedback span{
	color:#666;
}
.feedback input{
	height:30px;
	line-height:30px;
	border: 1px solid #d6d6d6;
	padding-left:6px;
	font-family: "Microsoft YaHei";
    _font-family: "Microsoft YaHei";
    outline:none;
    background: #f9f9f9;
}
.email,.mobile{
	margin-top:16px;
	color:#090909;
	font-size:14px;
}
.email input,.mobile input{
	width:400px;
}

.btn-send{
	font-family: "Microsoft YaHei";
    _font-family: "Microsoft YaHei";
	font-size:16px;
	background: #1b85d5;
	border-radius:2px;
	float:right;
	width:60px!important;
    text-align: center;
    border: 1px solid #e5e5e5!important;
    color:#fff;
    cursor:pointer;
    margin-right:50px;
    height: 30px;
    line-height: 30px;
}
.btn-send:hover{
	background:#0867c5;
}
.com_txt,.wrapcontent,.aboutme-img,.legal-notice,.terms_service{
	margin: 22px;
    zoom: 1;
    overflow: hidden;
    text-align: justify;
}
.wrapcons{
	float:left;
	position: relative;
	margin-right:20px;
}
.wraptxt{
	position: relative; 
}
.wraptxt p,.wrapcontent dt,.legal-notice dt,.terms_service dt{
	font-size:20px;
	font-weight:700;
	margin-top: 4px;
}
.terms_service dt{
	margin-top: 24px!important;
	padding-bottom:8px;
	border-bottom:1px solid #e5e5e5;
}
.wrapcontent dt,.legal-notice dt{
	padding-bottom:10px;
	border-bottom:1px solid #e5e5e5;
	margin-top: 40px!important;
}
.wrapcontent dd:not(first-child){
	line-height:30px;
}
.legal-notice dd:first-child{
	margin-top:24px;
}
.wraptxt span,.wrapcontent dd,.legal-notice dd,.terms_service dd{
	font-size:14px;
	line-height:28px;
	color:#090909;
    display: block;
    margin-top: 4px;
}

.comslogan{
	height:200px;
	margin-top: 80px;
}
.comslogan p:first-child{
    position: relative;
    top: -80px;
}
.comslogan p:last-child{
    position: relative;
    top: -300px;
}
.position_statement{
	padding:3px 0 3px 0;
	font-size:15px!important;
	color:#1b85d5!important
}
.comslogan li{
	position: relative;
    width:200px;
    height:120px;
    font-size: 22px;
    background: #83c0ef;
    line-height: 250px;
    text-align: center;
    color: #fff;
    margin:20px 0 0 72px;
    float: left;
}
.comslogan li:before{
    content: "";
    position: absolute;
    top: -60px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 60px solid #83c0ef;
}
.comslogan li:after{
	content: "";
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 60px solid #83c0ef;
}
.comslogan:before,.comslogan:after{
	clear: both;
    content: "";
    display: table;
}
.jobList {
    margin: 20px 0;
}
.jobList li {
    font-size: 16px;
    width: 176px;
    height: 54px;
    line-height: 54px;
    background: #f8f8f8;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
}
.currents {
    background: #83c0ef !important;
    color: #fff;
}