.mod-upload .link .ask-renderer .ask-first b{
    font-size: 14px;
    font-weight: 600;
    color: #333;
}
.mod-upload .link .ask-renderer .ask-row {
    padding: 6px 8px;
    font-size: 12px;
    border-bottom:1px solid #F0EDED;
}

.mod-upload .link .ask-renderer {
    position: relative;
}
#book-renderer{
	width:718px!important;
	margin-top:30px!important;
}
.Bvatar {
    height:58px;
    width:42px;
    background-color: #eee;
}
.bookauthoinfo{
	font-size:12px;
	font-weight:700;
}
.bookdescription{
	color:#090909;
	font-weight:500;
}
.bookinfo{
	float:left;
    position: relative;
    margin-right: 12px;
}
.authorinfo{
	margin-left:12px;
}
.authorinfo p{
	margin-top:10px;
}
.popover .popover-content{
	height:90!important;
}
 .book-border{
	border:1px solid #ccc;
	border-top:0;
	border-radius:0 0 2px 2px;
}

.upper span.name {
    font-size: 14px;
    font-weight: 700;
}
.upper img.Bvatar {
    left: -66px;
}
.upper div.tagline {
    font-size: 13px;
    color: #222;
    padding-top: 4px;
}
.Avatar--xs {
    width: 50px;
    height: 50px;
}
.mod-upload .link .bookable{
	background: url(../image/searchbook-icon.png) no-repeat center center;
    width: 80px;
    height: 32px;
    border-radius: 0 2px 2px 0;
    border-left: 0;
}
#upload-initbook-container,#upload-book-container{
    border: 1px solid #cdcdcd;
}
#upload-book-container .nedit-all-head {
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    position: relative;
}

.zg-r5px, .goog-tooltip {
    border-radius: 2px;
}
.zm-modal-dialog-guide-title, .zm-modal-dialog-guide-warn-message {
    padding-left: 10px;
    position: relative;
    width: 40%;
}
.zm-modal-dialog-guide-warn-message {
    background: none repeat scroll 0 0 #f8f6e2;
    border: 1px solid #ccc9ac!important;
}
.zm-modal-dialog-warnmsg {
    margin: 5px 0 5px 5px;
    border-left: 3px solid #C3412F;
    font-size: 12px;
}
.zm-modal-dialog-guide-title-msg {
    background: transparent url(../image/sprites.png) scroll no-repeat -227px -174px;
    visibility: hidden;
    position: absolute;
    bottom: -11px;
    left: 20px;
    width: 16px;
    height: 11px;
    bottom: -10px;
    z-index: 1;
    visibility: visible;
    left: 21px;
}
.zm-modal-dialog-guide-title-msg {
    background: transparent url(../image/sprites.png) scroll no-repeat -227px -174px;
    visibility: hidden;
    position: absolute;
    bottom: -11px;
    left: 20px;
    width: 16px;
    height: 11px;
    bottom: -10px;
    z-index: 1;
    visibility: visible;
    left: 21px;
}

.zm-modal-dialog-guide-title-msg {
    background: transparent url(../image/sprites.png) scroll no-repeat -227px -174px;
    visibility: hidden;
    position: absolute;
    bottom: -11px;
    left: 20px;
    width: 16px;
    height: 11px;
    bottom: -10px;
    z-index: 1;
    visibility: visible;
    left: 21px;
}

textarea.zg-form-text-input, .zg-form-text-input>textarea {
    padding-left: 10px;
    min-height: 22px;
    margin: 0!important;
    border: 0 none;
}
.zu-seamless-input-origin-element {
    overflow: hidden;
}
.zg-editor-input {
    width: 100%;
    font-weight: 400;
    min-height: 66px;
    padding: 0;
    margin: 0;
    border: 0;
}
.uploadtopic-list .question-suggest-ac-wrap {
    margin-top: 5px;
}
.uploadtopic-list .question-suggest-ac-wrap .ac-renderer {
    position: static;
    margin-top: -1px;
    width: 92%;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
}
#pj-book-suggest-detail{
    font-size: 13px;
    line-height: 15px;
    background: #fff;
    color: #222;
    width: 500px;
}
textarea {
    border: 0;
    border: 0;
    -moz-outline: 0;
    outline: 0;
    overflow: auto;
    resize: none;
    -webkit-appearance: none;
}
.book-error{
	display:none;
}
.edit-table .edit-class-sub{
	height:223px!important;
}

.zg-form-booktext-input .booksimg .Avatar-book{
	width:88px;
	height:116px;
}
.zg-form-booktext-input .booksinfo p{
	color:#090909;
	margin-top:16px;
}
 .zg-form-booktext-input{
    padding: 8px 10px;
    line-height: 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1) inset;
    border-radius: 2px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    color: #666;
    width: 92%;
 }
.zg-form-booktext-input .booksimg{
    float: left;
    margin-right:10px;
    position:relative
}
 .zg-form-booktext-input:before,.zg-form-booktext-input:after{
    clear: both;
	content:"";
	display:table
 }

.zg-form-booktext-input label{
	margin-right:10px;
}
.zg-form-booktext-input .booksimg .Avatar-book {
    width: 88px;
    height: 116px;
}