.doc-basic,.book-basic,.topic-basic{
	margin-left: 16px;
    width: 860px;
}
.book-basic .infor { 
	margin:2px 10px 0 0;
    min-height:160px;
}
.article-basic{
	margin:0 40px 0 40px!important;
	width:810px;
}
.infor .infor-left {
	float: left;
	margin: 0 20px 6px 0;
	position: relative;
}
.loading{
	cursor: not-allowed;
}
.book-basic .infor .infor-left .book-logo {
	width: 166px;
	height: 176px;
}
.book-basic .infor .infor-left .book-logo:hover{
	
}
.book-basic .infor .infor-right>div {
   margin-top:6px;
   word-wrap: break-word;
   word-break: break-all;
   font-size: 14px;
   color: #555;
}
.purchaseurl{
    border: 1px solid #cce1ef;
    background: #eff6fA;
    text-shadow: none;
}
.article-content{
	margin-top: 20px!important;
}
.showall{
	cursor: pointer;
	color: #1b85d5;
	font-size:12px;
	margin-left:10px;
} 
.articlename{
    font-weight: bold;
    font-size: 18px!important;
    margin-bottom:20px!important;
}
.book-main{
	padding-bottom:10px!important;
}
.meta-top{
	margin-left:30px;
	font-size:12px;
	color:#555;
}
.infor .infor-right .courseinfo{
    font-size:16px;
    color: #333;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    text-align: justify;
}
.submit-button{
	margin-right:14px;
	width: 60px;
}
.uncomment{
	color: #D0D6D9;
    font-size: 14px;
    text-align: center!important;
    padding-bottom:5px;
}
 .basic .noborder {
	border: 1px solid transparent;
}
.basic .infor .infor-right .brief {
	position: relative;
	line-height: 22px;
	text-align: justify;
}
.book-basic .infor .infor-right .book-height,.doc-basic .infor .infor-right .book-height{
	height:7.6em;
	overflow: hidden;
}
 .slidedown {
	position: absolute;
    right: 0;
    bottom: -5px;
    text-align: left;
    background: #fff;
    width: 280px;
}
 .showbrief .slideup {
	text-align: right;
	line-height:3em;
}
 .showbrief .slide {
	cursor: pointer;
	display: none;
	color: #1b85d5;
	font-size:12px;
}
 .showbrief label{
   color:#555;
 }
 .showbrief .slide:hover{
    color:#0867c5;
 }
.showbrief .slideup span {
	background: url(../image/stup.png) left center no-repeat;
	padding-left: 14px;
}

.after:after, .before:before,.additional:before{
    content: '';
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

.bookname .tip{
	font-weight:bold;
}
.bookname .noborder{
	font-weight:bold;
	font-size:16px;
}
.shareto,.topic-shareto{
    float: right;
    margin:0 0 16px 20px;
    color: #555;
    font-size: 12px;
    line-height: 1em;
    margin-right: 14px;
}
.doc-shareto{
	float: right;
    margin:20px 0 16px 20px;
    color: #555;
    font-size: 12px;
    line-height: 1em;
    margin-right: 14px;
}
.additional .purchase-book{
	clear: both;
    float: left;
    margin:16px 0 0 32px;
}
.shareto .shareto-share,.doc-shareto .shareto-share{
	 float: left;
	 padding-top:14px;
}
.topic-shareto .shareto-share{
	float: left;
	padding-top:30px;
}
.shareto .shareto-menu,.doc-shareto .shareto-menu{
	 float: left;
	 margin-left:6px;
	 padding-top:12px;
}
.topic-shareto .shareto-menu{
	 float: left;
	 margin-left:6px;
	 padding-top:28px;
}

.detail,.detailcomment{
    border-bottom: 1px dotted #ccc;
}
.document-list{
    margin:15px 15px 0 15px;
    position: relative;
}
.detail-list,.detailcomment-list{
    background:#fff;
    min-height: 10px;
}
.detail .item {
    padding: 15px 15px 14px 16px;
    border-bottom: 1px solid #e5e5e5;
}
.detail .item:last-child{
	border-bottom:0;
}
.doc-title{
	border-bottom:none!important;
	background:#f9f9f9;
}
.detail .item .media-left {
    height: 32px;
    line-height: 32px;
    font-size:14px;
    color: #999
}
.detail .item .media-left a,.mycomment a{
    color: #0867c5;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}
.detail .item .media-left .uhead img ,.mycomment .uhead img,.avatar-list img{
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}
.recommend .detail .item .media-right {
    margin-left: 40px;
}
.detail .item .media-right .reason {
    margin: 4px 0;
    font-size:14px;
    color:#555;
    word-wrap: break-word;
    word-break: break-all;
    text-align: justify;
    line-height:1.7
}
.detail .item .media-right .operate {
    margin-top:8px;
    font-size: 12px;
    color: #999;
}
.operate>a:hover{
    color: #698ebf;
    cursor: pointer;
    text-decoration: none;
}
.detail .item .media-right {
    margin-left: 40px;
}

.mycomment{
	height:32px;
	line-height:32px;
	padding:25px 0 22px 14px;
	/* background:#f9f9f9; */
}
.doc-evaluation{
	padding:25px 0 22px 14px;
	height:32px;
	line-height:32px;
}
.mycommentinfo{
	font-size: 14px;
    font-weight: bold;
    color:#333;
}
.publishanswer {
    margin-left: 14px;
}

.zm-side-section-inner {
    position: relative;
    z-index: 2;
}

.related-book-left{
	float:left;
    margin-right:16px;
}
.related-book-left .zm-item-img-avatar{
	width:54px;
	height:74px;
	cursor:pointer;
}
.zh-books-followers-sidebar .zm-item-img-avatar {
    width: 32px;
    height: 32px;
    border-radius:4px;
}
.zh-books-followers-sidebar .zu-small-avatar-list{
	padding-top:14px!important;
}
.zm-relate-book .zm-side-section{
	padding-bottom:14px!important;
}
.zm-relate-book .zm-side-section:last-child{
    margin: 0!important;
    padding-top: 0!important;
}
.related-book-right,.related-doc-right{
	font-size:12px;
    padding-top: 0px!important; 
    padding-bottom: 4px;
}

.zh-question-related-books ul li{
	margin-bottom:10px;
}
.zg-btn-unfollow, .zg-btn-disabled {
    background: #eee;
    color: #888;
    border: 1px solid #ddd;
}

input[type=text], input[type=password]:focus {
    -webkit-appearance: none;
}


.comment-app-holder, .zm-comment-box {
    max-width: 805px;
}
._CommentBox_root_G_1m._CommentBox_bordered_3Fo- {
    border: 1px solid #ddd;
    border-radius:4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
._CommentBox_root_G_1m {
    position: relative;
    margin-top: 1em;
    margin-bottom: 3em;
}
.icon {
    background-image: url(../image/sprites-1.9.2.4c54885a.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}
.icon-spike {
    position: absolute;
    top: -8px;
    left: 23px;
    width: 13px;
    height: 8px;
    background-position: -200px -165px;
}

._CommentBox_list_10_K, .zm-comment-list {
    padding-left: 1em;
    padding-right: 1em;
}

._CommentForm_root_1-ko {
    position: relative;
}
._CommentForm_bordered_2isg {
    margin: 0;
    padding: 1em;
    border-radius: 0 0 4px 4px;
    background: #f9f9f9;
}

._CommentForm_expanded_39uD ._CommentForm_actions_ooEq {
    display: block;
}
._CommentForm_actions_ooEq {
    margin-top: 1em;
    padding-bottom: 0;
    text-align: right;
    line-height: 33px;
    display: none;
}
._CommentForm_submitButton_1N49 {
    float: right;
    width: 60px;
}
._CommentForm_cancelButton_cy3u {
    margin-right:10px;
}
._CommentBox_textButton_3t9_ {
    padding: 0;
    border: 0;
    outline: 0;
    background: none;
    cursor: pointer; 
    color: #999;
    height:30px;
    line-height:30px;
    font-size: 14px;
    width: 60px;
    text-align: center;
    border: 1px solid #e5e5e5;
    vertical-align: super;
     font-family: Arial,'Microsoft YaHei';
    _font-family: Arial,'Microsoft YaHei';
}

.ReportMenu span {
    display: block;
}
.ReportMenu span i {
    color: red;
    font-style: normal;
    font-family: time;
    font-size: 16px;
    font-weight: 400;
    margin-right: 10px;
}

._InputBox_blur_3JWV._InputBox_empty_3_ur:before {
    content: attr(placeholder);
    color: #999;
}
.zg-icon-comment-del {
    background-position: -236px -92px;
}
.meta-item .zg-icon {
    margin-right: 5px;
    width: 11px;
    height: 11px;
    vertical-align: -1px;
}
.meta-item:hover .zg-icon-comment-del {
    background-position: -236px -79px;
}
/* .edui-body-container {
    width: 780px!important;
    min-height: 150px!important;
} */
.commentcontent {
    height: 166px;
    width: 840px;
    padding: 5px;
    border: 1px solid #e5e5e5;
    background: #f9f9f9;
    padding: 0 5px;
    resize: none;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    outline: none;
    border-radius:4px;
    font-family:  Arial,'Microsoft YaHei';
    _font-family:  Arial,'Microsoft YaHei';
}
.zm-command {
    padding: 10px 0;
    text-align: right;
}

.publishbook{
	padding-left:14px;
}

.authorinfo span{
	margin:7px 30px 0 0
}
.authorinfo{
	color:#555;
	font-size:14px;
	margin-left:14px;
	margin-bottom:14px;
	cursor:pointer;
}
.doc-value{
	background:#f9f9f9;
	margin:0!important;
	padding:0 0 14px 14px;
	border-bottom:1px solid #e5e5e5;
}
.authorinfo .uname,.press .uname{
	float: left;
    width:24px;
    height:24px;
    border-radius: 50%;
    margin-right: 10px;
}
.press .uname{
	margin-top: -4px;
} 
#docfollow,.docfollow{
	float:left;
}

.banner-more-btn,.ui-toolbar-middle{
	width: 247px;
	padding-top: 12px;
	font-size: 14px;
	line-height: 16px;
	margin: 0 auto;
	margin-top: 18px;
	color: #b6b6b6;
	border-top: 1px dotted #d1d1d1;
}
.ui-toolbar-middle{
	text-align: center;
	-moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}
.banner-more-btn .goBtn {
   cursor: pointer;
}
.detail-list .banner-more-btn .fc2e,.banner-more-btn .goBtn:hover{
   color: #0867c5;
}

.detail-list .down-arrow {
	width: 11px;
	height: 7px;
	margin: 0 auto;
	margin-top: 10px;
	background: url(../image/more_load.png) no-repeat;
	cursor: pointer;
	background-position:0 0;
}
.detail-list .down-arrow:hover{
	background-position:-11px 0;
}
.ic-arrow-down,.ic-arrow-up{
	background: url(../image/icons_1.png) no-repeat;
    display: inline-block;
    zoom: 1;
    width: 15px;
    height: 14px;
    vertical-align: -3px;
    margin-left:6px!important;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}
.ic-arrow-down{
	background-position:0 0;
}
.ic-arrow-down:hover{
	background-position:-15px 0;
}
.ic-arrow-up{
	background-position:0 -14px;
}
.ic-arrow-up:hover{
	background-position:-15px -14px;
}
.doc-desc-wrap,.doc-wrap{
	background-color: #f9f9f9;
}
/* .doc-wrap{
	font-size:14px;
	font-weight:bold;
	color:#333;
	padding:22px 0 22px 14px;
} */
.userrecommend,.doc-wrap{
	font-size:14px;
	font-weight:bold;
	color:#333;
	background:#f9f9f9;
	padding:20px 0 20px 14px;
	border-bottom: 1px dotted #ccc;
}
.doc-desc-wrap .doc-desc {
    color: #999;
    line-height: 21px;
    font-size:14px;
    height: auto;
    overflow: visible;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    word-break: break-all!important;
    padding: 0!important;
}
.doc-desc .doc-desc-all {
    padding: 4px 14px;
    display: block;
    text-align: justify;
}
.ic-pointer {
    background: url(../image/sprites-1.9.2.4c54885a.png) no-repeat -200px -165px;
    display: inline-block;
    width: 11px;
    height: 8px;
    position: absolute;
    top: -7px;
    left: 500px;
    z-index: 2;
}
.support-author{
    background:#f5f5f5;
    padding:30px 0 30px 40px;
    margin: 30px 10px 30px 0;
   border-left: 3px solid #1b85d5;
}
.support-author p{
	font-size:16px;
	color:#333;
	padding-bottom: 20px;
	font-weight: 600;
}
.btn-pay{
	margin-right:20px;
}
.doc-public{
	margin:0!important;
	padding-left:14px;
}
.support-author .avatar-list {
    display: inline-block;
}

.support-author .uhead {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
}

.control-group:first-child{
    padding: 0 10px 0 10px;
    border: 1px solid #e5e5e5;
    border-bottom:0;
    margin-bottom: 0;
    height:39px;
    line-height:39px;
    margin-top:20px;
    width: 300px;
}
.control-group:last-child{
	padding-left:10px;
    border: 1px solid #e5e5e5;
    margin-bottom: 0;
    height:90px;
}
.control-group label{
	float: none;
    padding: 0;
    display: inline-block;
    color: #999;
}
.control-group .message{
	border-top: 1px solid #eeeeee;
}
.control-group input{
	background: none !important;
    border: none !important;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: relative;
    top: -5px;
    color: #555;
    height: auto;
    margin-bottom: 0;
    font-size: 16px;
    outline:none;
    font-family:  Arial,'Microsoft YaHei';
    _font-family:  Arial,'Microsoft YaHei';
}
.reward_amount{
	vertical-align: super;
}
.moneyicon{
	content: '';
    text-indent: -9999px;
    overflow: hidden;
    background: url(../image/sprites-1.9.2.4c54885a.png) transparent no-repeat -303px -91px;
    vertical-align: super;
    width: 10px;
    height: 10px;
}
.control-group textarea{
	width: 100%;
    height:90px;
    padding: 0;
    margin: 0;
    resize: none;
    background: none !important;
    border: none !important;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline:none;
    font-family:  Arial,'Microsoft YaHei';
    _font-family:  Arial,'Microsoft YaHei';
}

.ui-toolbar-middle .arrow-btn {
	cursor: pointer;
}
.ui-toolbar-middle .enable-btn {
	color: #aab1bb;
}
.ui-toolbar-middle .disable-btn {
    color: #ddd;
    pointer-events: none;
}
.ui-toolbar-middle .enable-btn:hover{
	color: #1b85d5;
/* 	background:#1b85d5;
	padding:10px; */
}
.ui-toolbar-middle .left-btn {
	font-size:18px;
	display: inline-block;
	margin-right: 10px;
	text-decoration: none;
}
.ui-toolbar-middle .ipt-box {
	display: inline-block;
	vertical-align: bottom;
}
.ui-toolbar-middle .right-btn {
	font-size:18px;
	display: inline-block;
	margin-left: 10px;
	text-decoration: none;
}

 .ui-toolbar-middle .ipt-box input {
	width: 41px;
	height: 20px;
	line-height: 20px;
	font-size: 10px;
	border: 1px solid #d1ded9;
	outline: 0;
	text-align: center;
	margin-right: 1px;
}
.ui-toolbar-middle .ipt-box .total-page {
	font-size: 10px;
	color: #555;
	font-family:  Arial,'Microsoft YaHei';
    _font-family:  Arial,'Microsoft YaHei';
}

 .pj-kong{
	position:absolute; 
	left: -14px;
    top: -1px;
    width: 880px; 
	height:800px;
	z-index:1;
	cursor: url('/image/icon-left.ico'),auto;
}
.doc-ppt{
	position: relative;
	width:830px;
	height:800px; 
}

.shareto-share .createtime {
    color:#999
}
.shareto-share .createtime:hover{
    color:#999
}