.password_cont {
    padding-top:74px;
}
.password_list {
    width: 100%;
}
.password_content_cont{
	min-height:480px;
}
.fl {
    float: left;
}
.m15 {
    margin-top: 15px;
}
.password_list_left {
    width: 180px;
    text-align: right;
    float: left;
    line-height: 33px;
    margin-left:200px;
    font-size:15px;
    color:#333;
}
.password_content_h1 {
    padding:27px;
    border-bottom: 1px solid #e5e5e5;
}
.logoin_text_yz {
    line-height: 34px;
    border: 1px solid #d0d0d0;
    color: #999;
    margin-left: 48px;
    border-radius:4px;
    padding-left: 10px;
    font-size: 15px;
    width: 75px;
    height: 35px;
    background: transparent url(../image/authcode.inc.jpg) no-repeat;
    float: left;
}
.password_list_text {
    width: 250px;
    height: 23px;
    line-height: 23px;
    color: #b3b9bb;
    border: 1px solid #d2d0d0;
    padding: 6px 10px;
    float: left;
}
.password_list_r {
    float: left;
    line-height: 33px;
    padding-left: 10px;
    font-size: 15px;
}
.password_list_textw110 {
    width: 110px;
}
.password_list img {
    vertical-align: middle;
    float: left;
    margin-left: 10px;
}
.password_list_s {
    text-align: center;
    line-height: 30px;
    padding-bottom: 20px;
    font-size: 15px;
    color:#333;
}
.password_list_textw110 {
    width: 110px;
}
.input_btn {
    color: #999999;
    border: 1px solid #e7e8e8;
    background: #fafbfc;
    display: inline-block;
    height:38px;
    line-height:38px;
    text-decoration: none;
}
.password_list_bth {
    width: 113px;
    height: 34px;
    background: #0867c5;
    border: none;
    color: #fff;
    font-size:14px;
    cursor: pointer;
    border-radius:4px;
}
.password_cont_success {
    width: 310px;
    margin: 0 auto;
}
.upload-widget .upload-steps{
	 margin-top:60px!important;
	 margin-bottom:80px!important;
}
.password_cont_success .password_cont_success_p {
    background: url(../images/success.png) no-repeat 10px 5px;
    padding-left: 90px;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
}
.password_contm-row {
    margin: 60px 0 0 15px;
}
.password_input_btn {
    width: 325px;
    height: 34px;
    background: #0867c5;
    text-align: center;
    line-height: 34px;
    color: #fff;
    display: block;
}