<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jobplus.dao.EducationBgrdMapper" >
  <resultMap id="BaseResultMap" type="com.jobplus.pojo.EducationBgrd" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="degree" property="degree" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="startTime" property="starttime" jdbcType="DATE" />
    <result column="endTime" property="endtime" jdbcType="DATE" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, school, major, degree, description, startTime, endTime, createTime
  </sql>
  <sql id="Base_Column_List2" >
    t.id, t.userid, t.school, t.major, t.degree, t.description, t.startTime, t.endTime, t.createTime
  </sql>
  <!-- 获取教育背景list -->
  <select id="getList" resultMap="BaseResultMap" parameterType="com.jobplus.pojo.EducationBgrd">
    select 
    <include refid="Base_Column_List2" />,
	s.schoolLogo,
	s.schoolUrl,
	ttx.period as period
    from tbl_educationBgrd t left join tbl_schoolInfo  s on t.school = s.schoolName,
 (
   select    
      ttx.id as ttxid,
		CASE WHEN ttx.diffDay>=15 and ttx.diffMonth=11 THEN
		CONCAT(ttx.diffYear+1,'年') 
		ELSE
		CONCAT( 
			CASE  
			WHEN ttx.diffYear>0 THEN
			CONCAT(ttx.diffYear,'年') 
			ELSE '' END,
			CASE
			WHEN ttx.diffMonth>0 and ttx.diffDay  <![CDATA[ < ]]>   15 THEN
			CONCAT(ttx.diffMonth,'个月')
			WHEN ttx.diffMonth=0 and ttx.diffDay  <![CDATA[ < ]]> 15 and ttx.diffYear!=0  THEN
			'' 
			ELSE 
			CONCAT(ttx.diffMonth+1,'个月')
			END
		  )
		end as period
		from (
		SELECT 
		tbl.startTime,ifnull(tbl.endTime ,now()),tbl.id as id,
		TIMESTAMPDIFF(YEAR,tbl.startTime,ifnull(tbl.endTime ,now())) as diffYear,
		TIMESTAMPDIFF(MONTH,DATE_ADD(tbl.startTime,INTERVAL TIMESTAMPDIFF(YEAR,tbl.startTime,ifnull(tbl.endTime ,now())) YEAR),ifnull(tbl.endTime ,now())) as diffMonth,
		TIMESTAMPDIFF(DAY,  DATE_ADD(tbl.startTime,INTERVAL TIMESTAMPDIFF(MONTH,tbl.startTime,ifnull(tbl.endTime ,now())) MONTH),ifnull(tbl.endTime ,now())) as diffDay
		FROM tbl_educationBgrd  tbl  where tbl.userid = #{userid,jdbcType=INTEGER})ttx )ttx
		
		
    where t.userid = #{userid,jdbcType=INTEGER}
    and t.id = ttx.ttxid
    order by t.endTime desc
  </select>
  
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_educationBgrd
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_educationBgrd
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jobplus.pojo.EducationBgrd" >
    insert into tbl_educationBgrd (id, userid, school, 
      major, degree, description, 
      startTime, endTime, createTime
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{school,jdbcType=VARCHAR}, 
      #{major,jdbcType=VARCHAR}, #{degree,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{starttime,jdbcType=DATE}, #{endtime,jdbcType=DATE}, Now()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jobplus.pojo.EducationBgrd" >
    insert into tbl_educationBgrd
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="school != null" >
        school,
      </if>
      <if test="major != null" >
        major,
      </if>
      <if test="degree != null" >
        degree,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="starttime != null" >
        startTime,
      </if>
      <if test="endtime != null" >
        endTime,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="degree != null" >
        #{degree,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=DATE},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=DATE},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jobplus.pojo.EducationBgrd" >
    update tbl_educationBgrd
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="school != null" >
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="degree != null" >
        degree = #{degree,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        startTime = #{starttime,jdbcType=DATE},
      </if>
        endTime = #{endtime,jdbcType=DATE},
<!--       <if test="endtime != null" >
        endTime = #{endtime,jdbcType=DATE},
      </if> -->
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jobplus.pojo.EducationBgrd" >
    update tbl_educationBgrd
    set userid = #{userid,jdbcType=INTEGER},
      school = #{school,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      degree = #{degree,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      startTime = #{starttime,jdbcType=DATE},
      endTime = #{endtime,jdbcType=DATE},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>