<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jobplus.dao.SiteShareMapper" >
  <resultMap id="BaseResultMap" type="com.jobplus.pojo.SiteShare" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="siteID" property="siteid" jdbcType="INTEGER" />
    <result column="userID" property="userid" jdbcType="INTEGER" />
    <result column="knsite" property="knsite" jdbcType="VARCHAR" />
    <result column="extendeds" property="extendeds" jdbcType="VARCHAR" />
    <result column="recommend" property="recommend" jdbcType="VARCHAR" />
    <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
    <result column="commentby" property="commentby" jdbcType="INTEGER" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="likeSum" property="likesum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, siteID, userID, knsite, extendeds, recommend, isdelete, commentby, updateTime, 
    createTime, likeSum
  </sql>
  <sql id="Base_Column_List2" >
    t.ID, t.siteID, t.userID, t.knsite, t.extendeds, t.recommend, t.isdelete, t.commentby, t.updateTime, 
	t.createTime, t.likeSum
  </sql>
  
  <!-- getList -->
	<select id="getList" resultMap="BaseResultMap" parameterType="com.jobplus.pojo.CoursesShare">
		select
		<include refid="Base_Column_List2" />
		,
		u.userName as userName,
		u.headIcon as userHeadIcon,
		u.usertype as usertype,
		uc.userName as
		commentbyName,
		uc.headIcon as commentbyHeadIcon
		
		from tbl_sites_share t LEFT JOIN tbl_user u on t.userID = u.userid
		LEFT JOIN tbl_user uc on t.commentby = uc.userid

		where 1=1
		<!-- 资源必须未被删除 -->
		and t.isdelete = 0
		<!-- and u.isValid = 1 -->
		<!-- 站点详情不需要和userid 
		 <if test="userid != null"> AND
			t.userID = #{userid,jdbcType=INTEGER}
		</if> -->
		<if test="siteid != null">
			and t.siteID = #{siteid,jdbcType=INTEGER}
		</if>
		<choose>
			<when test="pageNo !=null">
				limit #{limitSt},#{pageSize}
			</when>
			<otherwise>
				limit #{defaultPageSize,jdbcType=INTEGER}
			</otherwise>
		</choose>
	</select>
  <!-- getListCount -->
	<select id="getListCount" resultType="java.lang.Integer" parameterType="com.jobplus.pojo.CoursesShare">
		select count(*) from tbl_sites_share t LEFT JOIN tbl_user u on t.userID = u.userid LEFT JOIN tbl_user uc on t.commentby = uc.userid
			 where 1=1
			 <!-- 资源必须未被删除 -->
			and t.isdelete = 0
			<!-- and u.isValid = 1 -->
			<!-- 站点详情不需要和userid 
			<if test="userid != null"> AND
				t.userID = #{userid,jdbcType=INTEGER}
			</if> -->
			<if test="siteid != null">
				and t.siteID = #{siteid,jdbcType=INTEGER}
			</if>
	</select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_sites_share
    where ID = #{id,jdbcType=INTEGER}
    <!-- 资源必须未被删除 -->
		and isdelete = 0
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update tbl_sites_share
    set isdelete = 1
    where ID = #{id,jdbcType=INTEGER}
  </update>
<!--   <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_sites_share
    where ID = #{id,jdbcType=INTEGER}
  </delete> -->
  <insert id="insert" parameterType="com.jobplus.pojo.SiteShare" >
    insert into tbl_sites_share (ID, siteID, userID, 
      knsite, extendeds, recommend, 
      isdelete, commentby, updateTime, 
      createTime, likeSum)
    values (#{id,jdbcType=INTEGER}, #{siteid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      #{knsite,jdbcType=VARCHAR}, #{extendeds,jdbcType=VARCHAR}, #{recommend,jdbcType=VARCHAR}, 
      0, #{commentby,jdbcType=INTEGER}, Now(), 
      Now(), 0)
  </insert>
  <insert id="insertSelective" parameterType="com.jobplus.pojo.SiteShare" >
    insert into tbl_sites_share
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="siteid != null" >
        siteID,
      </if>
      <if test="userid != null" >
        userID,
      </if>
      <if test="knsite != null" >
        knsite,
      </if>
      <if test="extendeds != null" >
        extendeds,
      </if>
      <if test="recommend != null" >
        recommend,
      </if>
      <if test="isdelete != null" >
        isdelete,
      </if>
      <if test="commentby != null" >
        commentby,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="likesum != null" >
        likeSum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="siteid != null" >
        #{siteid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="knsite != null" >
        #{knsite,jdbcType=VARCHAR},
      </if>
      <if test="extendeds != null" >
        #{extendeds,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null" >
        #{recommend,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="commentby != null" >
        #{commentby,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="likesum != null" >
        #{likesum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jobplus.pojo.SiteShare" >
    update tbl_sites_share
    <set >
      <if test="siteid != null" >
        siteID = #{siteid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="knsite != null" >
        knsite = #{knsite,jdbcType=VARCHAR},
      </if>
      <if test="extendeds != null" >
        extendeds = #{extendeds,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null" >
        recommend = #{recommend,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="commentby != null" >
        commentby = #{commentby,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        updateTime = now(),
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="likesum != null" >
        likeSum = #{likesum,jdbcType=INTEGER},
      </if>
      updateTime = now()
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jobplus.pojo.SiteShare" >
    update tbl_sites_share
    set siteID = #{siteid,jdbcType=INTEGER},
      userID = #{userid,jdbcType=INTEGER},
      knsite = #{knsite,jdbcType=VARCHAR},
      extendeds = #{extendeds,jdbcType=VARCHAR},
      recommend = #{recommend,jdbcType=VARCHAR},
      isdelete = #{isdelete,jdbcType=INTEGER},
      commentby = #{commentby,jdbcType=INTEGER},
      updateTime = now(),
      createTime = #{createtime,jdbcType=TIMESTAMP},
      likeSum = #{likesum,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>