<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jobplus.dao.UserMapper" >
  <!-- 启用缓存 -->
  <!-- <cache eviction="LRU" type="com.jobplus.dao.cache.MybatisRedisCache" />  -->
  <resultMap id="BaseResultMap" type="com.jobplus.pojo.User" >
    <id column="userId" property="userid" jdbcType="INTEGER" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="CHAR" />
    <result column="tel" property="tel" jdbcType="CHAR" />
    <result column="passwd" property="passwd" jdbcType="CHAR" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="addres" property="addres" jdbcType="VARCHAR" />
    <result column="identityName" property="identityname" jdbcType="VARCHAR" />
    <result column="identityNo" property="identityno" jdbcType="VARCHAR" />
    <result column="serviceYear" property="serviceyear" jdbcType="INTEGER" />
    <result column="industry" property="industry" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="specialty" property="specialty" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="headIcon" property="headicon" jdbcType="VARCHAR" />
    <result column="compName" property="compname" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="userType" property="usertype" jdbcType="INTEGER" />
    <result column="userLevel" property="userlevel" jdbcType="INTEGER" />
    <result column="authenticate" property="authenticate" jdbcType="INTEGER" />
    <result column="isValid" property="isvalid" jdbcType="INTEGER" />
    <result column="isSearch" property="issearch" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="nation" property="nation" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="ismarry" property="ismarry" jdbcType="INTEGER" />
    <result column="birthdayOne" property="birthdayone" jdbcType="VARCHAR" />
    <result column="birthdayTwo" property="birthdaytwo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    userId, userName, email, mobile, tel, passwd, gender, age, addres, identityName, 
    identityNo, serviceYear, industry, position, education, school, specialty, description, 
    headIcon, compName, city, userType, userLevel, authenticate, isValid, isSearch, createTime, 
    updateTime, nation, province, ismarry, birthdayOne, birthdayTwo
  </sql>
  <sql id="Base_Column_List_copy" >
    t.userId,t.userName,t.email,t.mobile,t.tel,t.passwd,t.gender,t.age,t.addres,t.identityName,t.identityNo,t.serviceYear,t.industry,t.position,t.education,
    t.school,t.specialty,t.description,t.headIcon,t.compName,t.city,t.userType,t.userLevel,t.authenticate,t.isValid,t.isSearch,t.createTime,t.updateTime
     ,t.nation, t.province, t.ismarry, t.birthdayOne, t.birthdayTwo
  </sql>


  <sql id="tbl_operationSum_Column_List" >
    p.userid AS "operationSum.userid", p.docShareSum AS "operationSum.docsharesum", p.docDownSum AS "operationSum.docdownsum", p.docCollSum AS "operationSum.doccollsum", 
    p.topicsShareSum AS "operationSum.topicssharesum", p.topicsComSum AS "operationSum.operationsum",p.topicsAtteSum AS "operationSum.topicsattesum", 
    p.bookShareSum AS "operationSum.booksharesum", p.bookCollSum AS "operationSum.bookcollsum", p.articleShareSum AS "operationSum.articlesharesum", 
    p.articleCollSum AS "operationSum.articlecollsum", p.coursesShareSum AS "operationSum.coursessharesum", p.coursesCollSum AS "operationSum.coursescollsum", 
    p.sitesShareSum AS "operationSum.sitessharesum", p.sitesCollSum AS "operationSum.sitescollsum",p.attentionSum AS "operationSum.attentionsum",
    p.fansSum AS "operationSum.fanssum", (p.docShareSum+p.topicsShareSum+p.bookShareSum+p.articleShareSum+p.coursesShareSum+p.sitesShareSum) AS 
    "operationSum.allshresum",
    p.operatorTime AS "operationSum.operatortime"
  </sql>
  <!-- 通过用户Id获取用户简单信息    包括用户统计  getUserSimpleInformation-->
  <select id="getUserSimpleInformation" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List_copy" />
    ,
    <include refid="tbl_operationSum_Column_List" />
    from tbl_user t left join tbl_operationSum p
    on t.userId = p.userid
    where t.userId = #{userID,jdbcType=INTEGER}
  </select>

    <select id="getFansListInformation" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
   	u.userId,u.userName,u.headIcon 
    from tbl_attention at,tbl_user u where at.collType='${collType}' and at.objectId = ${objectId} and u.userId = at.userId LIMIT 20 ;
  </select>
	<!-- 个人中心：我的粉丝列表 getMyFansList -->
	<select id="getMyFansList" resultMap="BaseResultMap" parameterType="com.jobplus.pojo.User" >
		select
		<include refid="Base_Column_List_copy" />
		,
		<include refid="tbl_operationSum_Column_List" />
		,(select group_concat(userid)  from tbl_attention where objectId = at.userid and colltype='tbl_user') as fansIds
		,(select COUNT( at.userid) from tbl_attention at RIGHT join tbl_user t on
		t.userId = at.userId
		left join tbl_operationSum p on t.userId = p.userid
		where at.collType='tbl_user'
		and at.objectId = #{userid,jdbcType=INTEGER} ) as  pageCount

		from tbl_attention at RIGHT join tbl_user t on t.userId = at.userId
		left join tbl_operationSum p on t.userId = p.userid
		where at.collType='tbl_user'
		and at.objectId = #{userid,jdbcType=INTEGER}
		<choose>
			<when test="pageNo !=null">
				limit #{limitSt},#{pageSize}
			</when>
			<otherwise>
				limit #{defaultPageSize,jdbcType=INTEGER}
			</otherwise>
		</choose>
	</select>
	<!-- 统计总数		个人中心：我的粉丝列表 getMyFansList -->
	<select id="getMyFansListCount" resultType="java.lang.Integer" parameterType="com.jobplus.pojo.User" >
		select COUNT( at.userid) from tbl_attention at RIGHT join tbl_user t on
		t.userId = at.userId
		left join tbl_operationSum p on t.userId = p.userid
		where at.collType='tbl_user'
		and at.objectId = #{userid,jdbcType=INTEGER} 
	</select>
	<!-- 个人中心：我关注的人列表  getAttenManList   -->
	<select id="getAttenManList" resultMap="BaseResultMap" parameterType="com.jobplus.pojo.User" >
		select
		<include refid="Base_Column_List_copy" />
		,
		<include refid="tbl_operationSum_Column_List" />
		,(select group_concat(userid)  from tbl_attention where objectId = t.userid and colltype='tbl_user') as fansIds
		,(select COUNT(at.objectId) from  tbl_user t left join tbl_attention at on t.userId = at.objectId left join tbl_operationSum p on at.objectId = p.userid
		where at.collType='tbl_user'
		and at.userid = #{userid,jdbcType=INTEGER} ) as pageCount

		from  tbl_user t left join tbl_attention at on t.userId = at.objectId left join tbl_operationSum p on at.objectId = p.userid
		where at.collType='tbl_user'
		and at.userid = #{userid,jdbcType=INTEGER}
		<choose>
			<when test="pageNo !=null">
				limit #{limitSt},#{pageSize}
			</when>
			<otherwise>
				limit #{defaultPageSize,jdbcType=INTEGER}
			</otherwise>
		</choose>
	</select>
	<!-- 统计总数		个人中心：我关注的人列表  getAttenManList   -->
	<select id="getAttenManListCount" resultType="java.lang.Integer" parameterType="com.jobplus.pojo.User" >
		select COUNT(at.objectId) from  tbl_user t left join tbl_attention at on t.userId = at.objectId left join tbl_operationSum p on at.objectId = p.userid
		where at.collType='tbl_user'
		and at.userid = #{userid,jdbcType=INTEGER} 
	</select>




  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List_copy" />
    ,(select group_concat(DISTINCT userid)  from tbl_attention where objectId = t.userid and colltype='tbl_user') as fansIds
    from tbl_user t left join tbl_attention at on t.userId = at.objectId
    where t.userId = #{userid,jdbcType=INTEGER}
    GROUP BY t.userId
  </select>
  <select id="getAccount"  resultMap="BaseResultMap" statementType="STATEMENT">
    select
    <include refid="Base_Column_List_copy" /> from tbl_user t where 1=1 and ${fieldName} = '${fieldValue}'
  </select>
  <select id="checkAccount"  resultType="java.lang.Integer" statementType="STATEMENT">

	select count(1) from tbl_user where  1=1 and ${fieldName} = '${fieldValue}'
	
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update tbl_user set isValid=0
    where userId = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jobplus.pojo.User" >
    insert into tbl_user (userId, userName, email, 
      mobile, tel, passwd, gender, 
      age, addres, identityName, 
      identityNo, serviceYear, industry, 
      position, education, school, 
      specialty, description, headIcon, 
      compName, city, userType, 
      userLevel, authenticate, isValid, 
      isSearch, createTime, updateTime, 
      nation, province, ismarry, 
      birthdayOne, birthdayTwo)
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=CHAR}, #{tel,jdbcType=CHAR}, #{passwd,jdbcType=CHAR}, #{gender,jdbcType=INTEGER}, 
      #{age,jdbcType=INTEGER}, #{addres,jdbcType=VARCHAR}, #{identityname,jdbcType=VARCHAR}, 
      #{identityno,jdbcType=VARCHAR}, #{serviceyear,jdbcType=INTEGER}, #{industry,jdbcType=VARCHAR}, 
      #{position,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, 
      #{specialty,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{headicon,jdbcType=VARCHAR}, 
      #{compname,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{usertype,jdbcType=INTEGER}, 
      #{userlevel,jdbcType=INTEGER}, #{authenticate,jdbcType=INTEGER}, #{isvalid,jdbcType=INTEGER}, 
      #{issearch,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{nation,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{ismarry,jdbcType=INTEGER}, 
      #{birthdayone,jdbcType=VARCHAR}, #{birthdaytwo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jobplus.pojo.User" >
    insert into tbl_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userId,
      </if>
      <if test="username != null" >
        userName,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="passwd != null" >
        passwd,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="addres != null" >
        addres,
      </if>
      <if test="identityname != null" >
        identityName,
      </if>
      <if test="identityno != null" >
        identityNo,
      </if>
      <if test="serviceyear != null" >
        serviceYear,
      </if>
      <if test="industry != null" >
        industry,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="school != null" >
        school,
      </if>
      <if test="specialty != null" >
        specialty,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="headicon != null" >
        headIcon,
      </if>
      <if test="compname != null" >
        compName,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="usertype != null" >
        userType,
      </if>
      <if test="userlevel != null" >
        userLevel,
      </if>
      <if test="authenticate != null" >
        authenticate,
      </if>
      <if test="isvalid != null" >
        isValid,
      </if>
      <if test="issearch != null" >
        isSearch,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="nation != null" >
        nation,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="ismarry != null" >
        ismarry,
      </if>
      <if test="birthdayone != null" >
        birthdayOne,
      </if>
      <if test="birthdaytwo != null" >
        birthdayTwo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=CHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=CHAR},
      </if>
      <if test="passwd != null" >
        #{passwd,jdbcType=CHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="addres != null" >
        #{addres,jdbcType=VARCHAR},
      </if>
      <if test="identityname != null" >
        #{identityname,jdbcType=VARCHAR},
      </if>
      <if test="identityno != null" >
        #{identityno,jdbcType=VARCHAR},
      </if>
      <if test="serviceyear != null" >
        #{serviceyear,jdbcType=INTEGER},
      </if>
      <if test="industry != null" >
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="specialty != null" >
        #{specialty,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="headicon != null" >
        #{headicon,jdbcType=VARCHAR},
      </if>
      <if test="compname != null" >
        #{compname,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null" >
        #{usertype,jdbcType=INTEGER},
      </if>
      <if test="userlevel != null" >
        #{userlevel,jdbcType=INTEGER},
      </if>
      <if test="authenticate != null" >
        #{authenticate,jdbcType=INTEGER},
      </if>
      <if test="isvalid != null" >
        #{isvalid,jdbcType=INTEGER},
      </if>
      <if test="issearch != null" >
        #{issearch,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="ismarry != null" >
        #{ismarry,jdbcType=INTEGER},
      </if>
      <if test="birthdayone != null" >
        #{birthdayone,jdbcType=VARCHAR},
      </if>
      <if test="birthdaytwo != null" >
        #{birthdaytwo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jobplus.pojo.User" >
    update tbl_user
    <set >
      <if test="username != null" >
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=CHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=CHAR},
      </if>
      <if test="passwd != null" >
        passwd = #{passwd,jdbcType=CHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="addres != null" >
        addres = #{addres,jdbcType=VARCHAR},
      </if>
      <if test="identityname != null" >
        identityName = #{identityname,jdbcType=VARCHAR},
      </if>
      <if test="identityno != null" >
        identityNo = #{identityno,jdbcType=VARCHAR},
      </if>
      <if test="serviceyear != null" >
        serviceYear = #{serviceyear,jdbcType=INTEGER},
      </if>
      <if test="industry != null" >
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="specialty != null" >
        specialty = #{specialty,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="headicon != null" >
        headIcon = #{headicon,jdbcType=VARCHAR},
      </if>
      <if test="compname != null" >
        compName = #{compname,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null" >
        userType = #{usertype,jdbcType=INTEGER},
      </if>
      <if test="userlevel != null" >
        userLevel = #{userlevel,jdbcType=INTEGER},
      </if>
      <if test="authenticate != null" >
        authenticate = #{authenticate,jdbcType=INTEGER},
      </if>
      <if test="isvalid != null" >
        isValid = #{isvalid,jdbcType=INTEGER},
      </if>
      <if test="issearch != null" >
        isSearch = #{issearch,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="nation != null" >
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="ismarry != null" >
        ismarry = #{ismarry,jdbcType=INTEGER},
      </if>
      <if test="birthdayone != null" >
        birthdayOne = #{birthdayone,jdbcType=VARCHAR},
      </if>
      <if test="birthdaytwo != null" >
        birthdayTwo = #{birthdaytwo,jdbcType=VARCHAR},
      </if>
    </set>
    where userId = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jobplus.pojo.User" >
    update tbl_user
    set userName = #{username,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=CHAR},
      tel = #{tel,jdbcType=CHAR},
      passwd = #{passwd,jdbcType=CHAR},
      gender = #{gender,jdbcType=INTEGER},
      age = #{age,jdbcType=INTEGER},
      addres = #{addres,jdbcType=VARCHAR},
      identityName = #{identityname,jdbcType=VARCHAR},
      identityNo = #{identityno,jdbcType=VARCHAR},
      serviceYear = #{serviceyear,jdbcType=INTEGER},
      industry = #{industry,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      specialty = #{specialty,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      headIcon = #{headicon,jdbcType=VARCHAR},
      compName = #{compname,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      userType = #{usertype,jdbcType=INTEGER},
      userLevel = #{userlevel,jdbcType=INTEGER},
      authenticate = #{authenticate,jdbcType=INTEGER},
      isValid = #{isvalid,jdbcType=INTEGER},
      isSearch = #{issearch,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      nation = #{nation,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      ismarry = #{ismarry,jdbcType=INTEGER},
      birthdayOne = #{birthdayone,jdbcType=VARCHAR},
      birthdayTwo = #{birthdaytwo,jdbcType=VARCHAR}
    where userId = #{userid,jdbcType=INTEGER}
  </update>

  <!-- countList -->
  <select id="countList" resultType="java.lang.Integer" parameterType="com.jobplus.pojo.User">
    select
    count(1)
    from tbl_user
    where isValid = 1
    <if test="username != null and username != ''">
      AND userName like concat('%',#{username},'%')
    </if>
    <if test="email != null and email != ''">
      AND email like concat('%',#{email},'%')
    </if>
    <if test="mobile != null and mobile != ''">
      AND mobile like concat('%',#{mobile},'%')
    </if>
  </select>
  <!-- getList -->
  <select id="getList" resultMap="BaseResultMap" parameterType="com.jobplus.pojo.User">
    select
    <include refid="Base_Column_List"/>
    from tbl_user
    where isValid = 1
    <if test="username != null and username != ''">
      AND userName like concat('%',#{username},'%')
    </if>
    <if test="email != null and email != ''">
      AND email like concat('%',#{email},'%')
    </if>
    <if test="mobile != null and mobile != ''">
      AND mobile like concat('%',#{mobile},'%')
    </if>
    <choose>
      <when test="pageNo !=null">
        limit #{limitSt},#{pageSize}
      </when>
      <otherwise>
        limit #{defaultPageSize,jdbcType=INTEGER}
      </otherwise>
    </choose>
  </select>
</mapper>